<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <%- include('../partials/repsnav') %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- display rep info -->

    <div>
          Hello <strong><%= rep.firstname %></strong>,
          <br>
          <br>
          This is your profile page (this page is not visible to anyone but you).
    </div>
    <br>
    <div>
      <ul>
        <li>
            <strong>First Name: </strong> <%= rep.firstname %>
        </li>
        <li>
            <strong>Last Name: </strong> <%= rep.lastname %>
        </li>
        <li>
            <strong>Party: </strong> <%= rep.party %>
        </li>
        <li>
            <strong>State: </strong> <%= rep.state %>
        </li>
        <li>
            <strong>County: </strong> <%= rep.county %>
        </li>
        <li>
            <strong>Zip Code: </strong> <%= rep.zip %>
        </li>
        <li>
            <strong>District: </strong> <%= rep.district %>
        </li>
      </ul>
    </div>
    <div>
      <!-- needs link to edit page -->
      <a href="/reps/<%= rep.id %>/edit">Edit profile</a>
    </div>
  </body>
</html>
