<!DOCTYPE html>
<html>
  <head>
    <%- include('./../partials/head') %>
    <%- include('./../partials/propsnav') %>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2 style="font-weight: bold">All Proposals</h2>
    <% proposals.forEach(function(proposal) { %>

      <h3 style="font-weight: bold"><%= proposal.title %></h3>
      <p style="word-break: break-all"><%= proposal.content %></p>
      <p style="font-weight: bold">Created by: <%= proposal.rep.firstname %><p>
      <!-- <h3>yay: <%= proposal.votes %> </h3> -->
<div style="display: inline">
      <button id='yay' class='<%= proposal._id%>' style="display: inline">Yay</button>
        <div id='yayCounter' style="display: inline"><%= proposal.yayVotes %></div>

      <button id='nay' class='<%= proposal._id + "2"%>' style="display: inline">Nay</button>
        <div id='nayCounter' style="display: inline"><%= proposal.nayVotes %></div>
</div>
    <% }) %>



  </body>
</html>
