<!DOCTYPE html>
<html>
  <head>
    <%- include('./../partials/head') %>
    <%- include('./../partials/propsnav') %>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>All Proposals</h2>
    <% proposals.forEach(function(proposal) { %>

      <h3><%= proposal.title %></h3>
      <p><%= proposal.content %></p>
      <p>Created by: <%= proposal.rep.firstname %><p>
      <!-- <h3>yay: <%= proposal.votes %> </h3> -->
      <p id="counter">Xxx</p>
      <button id="yay" class='<%= proposal._id%>'>Yay</button> <div id='yayCounter'><%= proposal.yayVotes %></div> | <button id='nay' class='<%= proposal._id + "2"%>'>Nay</button>
      <div id='nayCounter'><%= proposal.nayVotes %></div>
    <% }) %>



  </body>
</html>
