<!DOCTYPE html>
<html>
  <head>
    <%- include('./../partials/head') %>
    <%- include('./../partials/navbar') %>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>All Proposals</h2>
    <% proposals.forEach(function(proposal) { %>

      <h3><%= proposal.title %></h3>
      <p><%= proposal.content %></p>
      <p>Created by: <%= proposal.rep.firstname %><p>
      <!-- <h3>yay: <%= proposal.votes %> </h3> -->
      <p id="counter">Xxx</p>
      <button id="yay">Yay</button> | <button id='nay'>Nay</button>
    <% }) %>



  </body>
</html>
