<!DOCTYPE html>
<html>
  <head>
    <%- include('./../partials/head') %>
    <%- include('./../partials/propsnav') %>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2 style="font-weight: bold">All Proposals</h2>
    <% proposals.forEach(function(proposal) { %>

      <h3 style="font-weight: bold"><a href="/proposals/<%= proposal._id %>"><%= proposal.title %></a></h3>
      <p style="word-break: break-all"><%= proposal.content %></p>
      <p style="font-weight: bold">Created by: <%= proposal.rep.firstname %> <%= proposal.rep.lastname %><p>
      <!-- <h3>yay: <%= proposal.votes %> </h3> -->
<div style="display: inline">
      <% if(user) { %>
        <button class='<%= proposal._id%> yay' style="display: inline">Yay</button>
        <div id='yayCounter<%= proposal._id %>' style="display: inline"><%= proposal.yayVotes %></div>
      <%  } else { %>
        <div style="display: inline">Yays:<%= proposal.yayVotes %></div>
      <% } %>
      <% if (user) { %>
      <button class='<%= proposal._id + "2"%> nay' style="display: inline">Nay</button>
      <div id='nayCounter<%= proposal._id%>' style="display: inline"><%= proposal.nayVotes %></div>
      <% } else { %>
        <div style="display: inline">Nays:<%= proposal.nayVotes %></div>
      <% } %>
</div>
    <% }) %>



  </body>
</html>
