<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
        <%- include('../partials/usersnav') %>
            <meta charset="utf-8">
</head>
<body>
  <!-- display user info -->
  <div>
    <% if (user) { %>
        Hello
        <strong><%= user.username %></strong>,
        <br>
        <br>
        This is your profile page (this page is not visible to anyone but you).
  </div>
  <div>
    <ul>
      <br>
      <li>
          <strong>Email: </strong> <%= user.local.email %>
      </li>
      <br>
      <li>
          <strong>Party: </strong><%= user.party %>
      </li>
      <br>
      <li>
          <strong>Zip: </strong><%= user.zip %>
      </li>
      <br>
      <li>
          <strong>State: </strong><%= user.state %>
      </li>
      <br>
      <!-- <li>
          <strong>Your reps are: </strong>
      </li> -->
    </ul>
  </div>
  <div>
    <!-- needs link to edit page -->
    <a href="/users/<%= user.id %>/edit">Edit profile</a>
    <% } %>
  </div>
</body>

</html>
